<h1>Attention <%= @creator.email %></h1>
<p>You have created one or more provisional projects/allocations in T2 that are due to start in the next two days or have already started. Please adjust to reflect your current understanding of the project(s).</p>
<h1>Upcoming Provisional Projects:</h1>

  <ul>
    <% @allocations.each do |allocation| %>
      <li>Allocation Start Date: <%= allocation.start_date %><li>
      <li>Person: <%= allocation.person.name %><li>
      <li>Project Name: <%= allocation.project.name %>
    <hr>
    <hr>
    <% end %>
  </ul>
