%h2 Utilization Forecast For Next 3 Weeks
%table
  %thead
    %tr
      %th Date
      %th Booked Utilization
      %th Projected Utilization
  %tbody
    - snapshots.each do |(snapshot, projected_snapshot)|
      %tr
        %td= snapshot.snap_date
        %td= number_to_percentage(snapshot.gross_utilization, precision: 2)
        %td= number_to_percentage(projected_snapshot.gross_utilization, precision: 2)

