@import 'bourbon'
@import 'bitters/bitters'

.mailer
  .section
    margin: 60px 0

  .left
    text-align: left

  .right
    text-align: right

  h2
    margin-bottom: 10px

  ul.default
    @extend %default-ul

  table
    td, th
      padding-left: 5px
      padding-right: 5px

    tr.company-wide
      font-weight: bold
      background: #f3f8ce

    tfoot
      color: #999
      td
        padding-left: 20px
