---
title: t2 Styleguide
---

.navigation
  .titleBlock
    h1 t2 <span>by</span>
    .logo
    h2 Styleguide
  .categoryList
    a href="#category1" Category 1
    a href="#category2" Category 2
    a href="#category3" Category 3
    a href="#category4" Category 4

.content
  p This is where all of the magic happens when it comes to documenting style conventions throughout the complete suite of t2 applications.
  #category1
    h1 Category 1

    p Tiramisu bear claw pudding. Biscuit dessert toffee sweet roll chocolate bar jelly beans gummies cookie. Donut chupa chups dessert. Lemon drops sweet roll wafer biscuit jelly beans donut. Cupcake wafer jelly beans tart marshmallow pie toffee ice cream jelly-o. Croissant topping toffee gummi bears.

    h2 I Am A Subhead!
    p Tiramisu bear claw pudding. Biscuit dessert toffee sweet roll chocolate bar jelly beans gummies cookie. Donut chupa chups dessert. Lemon drops sweet roll wafer biscuit jelly beans donut.
    pre
      code class="language-css"
        |
         p {
           @include Lato-Regular;
           font-size: 12px;
           line-height: 20px;
           color: $dark-grey;
          }
  #category2
    h1 Category 2

    p Tiramisu bear claw pudding. Biscuit dessert toffee sweet roll chocolate bar jelly beans gummies cookie. Donut chupa chups dessert. Lemon drops sweet roll wafer biscuit jelly beans donut. Cupcake wafer jelly beans tart marshmallow pie toffee ice cream jelly-o. Croissant topping toffee gummi bears.

    h2 I Am A Subhead!
    p Tiramisu bear claw pudding. Biscuit dessert toffee sweet roll chocolate bar jelly beans gummies cookie. Donut chupa chups dessert. Lemon drops sweet roll wafer biscuit jelly beans donut.

    / .colorSwatch
    /   .color
    /   .colorName Color Name
    /     .hex #cccccc
  </br>