!!!
%html
  %head
    %title T2 Login
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body.sessions
    %div.login
      %h1 t2
      %h4 Neo Allocation Tool
      = yield
